[submodule "apps/tao_others/deepstream_custom_preprocessing_app/module/Lidar_AI_Solution"]
	path = apps/tao_others/deepstream_custom_preprocessing_app/modules/Lidar_AI_Solution
	url = https://github.com/NVIDIA-AI-IOT/Lidar_AI_Solution.git
[submodule "apps/tao_others/deepstream-nvocdr-app/nvocdr"]
	path = apps/tao_others/deepstream-nvocdr-app/nvocdr
	url = https://github.com/NVIDIA-AI-IOT/NVIDIA-Optical-Character-Detection-and-Recognition-Solution.git
